// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins';
}

.btn {
    border-radius: 6px;
    width: 100%;
}

.header {
    height: 50px;
    font-size: x-large;
    border-radius: 0;
    flex: 1;
    flex-direction: row;
}

.feedback {
    border: 1px solid black;
    border-radius: 8px;
}

.heading {
    font-size: 24px;
}

.text {
    font-size: 18px;
}